/target
result
.direnv/
# Contains PII photos of zones/people
photos/
# Contains API secrets passed in via file.
secrets/
# Contains API secret, shouldn't be committed.
run_*.sh

# Default path for secrets used in preseed.sh
display-deploy/preseed-variables.sh
display-deploy/wg*.conf
