[Unit]
Description=Docker compose setup
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
# Sleep 10s to make sure fullscreen works after turning on.
ExecStart=/bin/bash -c "sleep 10 ; docker compose -f /files/docker-compose.yaml up --detach"
ExecStop=/bin/bash -c "docker compose -f /files/docker-compose.yaml stop"
Environment="DISPLAY=:0"

[Install]
WantedBy=graphical.target

